
{% import 'macros/dcatapit_form_macros.html' as dform %}

{% for field in schema_fields %}
      {% if not field.ignore and not field.ignore_from_edit %}

            {% if field.element == 'input' %}

                  {{ dform.input(field.name,
                                 label=field.label,
                                 id='field-' + field.name,
                                 placeholder=field.placeholder,
                                 type=field.type,
                                 value=data[field.name],
                                 error=errors[field.name],
                                 classes=['control-medium'],
                                 is_required=field.is_required,
                                 help=field.help) }}

            {% elif field.element == 'select' %}
            
                  {% set options = h.get_vocabulary_items(field.vocabulary_name) if field.type == 'vocabulary' else field.options %}

                  {{ dform.select(field.name,
                                  label=field.label,
                                  options=options,
                                  selected=data[field.name],
                                  error=errors[field.name],
                                  help=field.help) }}

            {% elif field.element == 'multiselect' %}

                  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': field.data_module_source} %}

                  {{ dform.input(field.name,
                                 id='field-' + field.name,
                                 label=field.label,
                                 placeholder=field.placeholder,
                                 value=data[field.name],
                                 error=errors[field.name],
                                 classes=['control-full'],
                                 attrs=tag_attrs,
                                 is_required=field.is_required,
                                 help=field.help) }}


            {% elif field.element == 'themes' %}

                  {% set options = h.get_vocabulary_items(field.vocabulary_name) if field.type == 'vocabulary' else field.options %}
                  {% set all_subthemes = h.get_dcatapit_subthemes(h.lang()) %}
                  {% set dataset_subthemes = h.json_dump(h.dump_dcatapit_subthemes(data[field.name])) %}

                   <script type="text/javascript">
                    var dcatapit = window.dcatapit || {};
                    dcatapit.subthemes = {{ h.json_dump(all_subthemes)|safe }};
                   </script>
                  {{ 
                        dform.themes(
                              field.name,
                              id='field-' + field.name,
                              label=field.label,
                              sublabel=field.sublabel,
                              value=dataset_subthemes,
                              placeholder=field.placeholder,
                              error=errors[field.name],
                              options=options,
                              type=field.type,
                              classes=['control-full'],
                              is_required=field.is_required,
                              help=field.help)
                  }}

            {% elif field.element == 'vocabulary' or field.element == 'region' %}

                  {% set options = h.get_vocabulary_items(field.vocabulary_name) if field.type == 'vocabulary' else field.options %}
                  {{ 
                        dform.vocabulary(
                              field.name,
                              id='field-' + field.name,
                              label=field.label,
                              value=data[field.name],
                              placeholder=field.placeholder,
                              error=errors[field.name],
                              options=options,
                              type=field.type,
                              classes=['control-full'],
                              is_required=field.is_required)
                  }}

            {% elif field.element == 'couple' %}

                  {# -------------------------------------------------------------------------------
                  {% set couple_values = data[field.name].split(',') if data[field.name] else ['', ''] %}

                  {{ 
                        dform.couple(
                              field.name,
                              labels=(field.couples[0].label, field.couples[1].label),
                              names=(field.couples[0].name, field.couples[1].name),
                              id='field-range-' + field.name, 
                              label=field.label,
                              values=(couple_values[0], couple_values[1], False),
                              error=errors[field.couples[0].name] or errors[field.couples[1].name],
                              type=field.type,
                              is_required=field.is_required,
                              help=field.help)
                  }}
                  ------------------------------------------------------------------------------- #}
                  {{ 
                        dform.couple(
                              field.name,
                              labels=(field.couples[0].label, field.couples[1].label),
                              names=(field.couples[0].name, field.couples[1].name),
                              id='field-range-' + field.name, 
                              label=field.label,
                              read_only=(field.read_only or False),
                              values=(data[field.couples[0].name], data[field.couples[1].name], False),
                              error=errors[field.couples[0].name] or errors[field.couples[1].name],
                              types=(field.couples[0].type, field.couples[1].type),
                              is_required=field.is_required,
                              help=field.help)
                  }}

            {% elif field.element == 'textarea' %}

                  {{ dform.textarea(field.name,
                                    label=field.label,
                                    id='field-' + field.name,
                                    placeholder=field.placeholder,
                                    value=data[field.name],
                                    error=errors[field.name],
                                    classes=['control-full'],
                                    help=field.help) }}

            {% elif field.element == 'conforms_to' %}
                
                {{ dform.conforms_to(field.name,
                                     label=field.label,
                                     id='field-'+field.name,
                                     placeholder=field.placeholder,
                                     value=data[field.name],
                                     error=errors[field.name],
                                     lang=h.lang(),
                                     help=field.help,
                                     classes=[]) }}
            {% elif field.element == 'licenses_tree' %}

                {% set licenses = h.get_resource_licenses_tree(data[field.name], lang=h.lang()) %}

                    {{ dform.select(field.name,
                                   label=field.label,
                                   id='field-' + field.name,
                                   options=licenses,
                                   selected=data[field.name],
                                   error=errors[field.name],
                                   help=field.help) }}

            {% elif field.element == 'alternate_identifier' %}

                    {{ dform.alternate_identifier(field.name,
                                                  label=field.label,
                                                  id='field-'+field.name,
                                                  value=data[field.name],
                                                  error=errors[field.name],
                                                  lang=h.lang(),
                                                  help=field.help
                                                  ) }}

            {% elif field.element == 'creator' %}

                    {{ dform.creator(name=field.name,
                                          label=field.label,
                                          id='field-'+field.name,
                                          value=data[field.name],
                                          error=errors[field.name],
                                          couples=field._couples,
                                          lang=h.lang(),
                                          help=field.help) }}

            {% elif field.element == 'temporal_coverage' %}

                    {{ dform.temporal_coverage(name=field.name,
                                                    label=field.label,
                                                    id='field-'+field.name,
                                                    value=data[field.name],
                                                    error=errors[field.name],
                                                    couples=field._couples,
                                                    lang=h.lang(),
                                                    help=field.help) }}

            {% elif field.element == 'geonames' %}
                   {% set config = h.get_geonames_config() %}

                   {{ dform.geonames(name=field.name,
                                                    label=field.label,
                                                    id='field-'+field.name,
                                                    value=data[field.name],
                                                    error=errors[field.name],
                                                    lang=h.lang(),
                                                    username=config.username,
                                                    limit_to=config.limit_to) }}


            {% endif %}

      {% endif %}

{% endfor %}
