{% import 'macros/form.html' as form %}

{% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false, help='') %}
  {%- set extra_html = caller() if caller -%}

  {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" {{ attributes(attrs) }} />
    {{ help_block(help) }}
    
  {% endcall %}
{% endmacro %}

{% macro input_block(for, label="", error="", classes=[], control_classes=[], extra_html="", is_required=false) %}
  <div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
    <label class="control-label" for="{{ for }}">{% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}{{ label or _('Custom') }}</label>
    <div class="controls{{ " " ~ control_classes | join(' ') }}">
      {{ caller() }}
      {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
      {{ extra_html }}
    </div>
  </div>
{% endmacro %}


{# -------------------------------------------------------------------------------
Old implementation of the couple element (one element with comma separated values)

{% macro couple(name, labels=(), names=(), id="", label="", values=(), placeholders=(), error="", type="", classes=[], attrs={}, is_required=false, key_values=(), help='') %}
  {%- set classes = (classes|list) -%}
  {%- set label_id = (id) ~ "-key" -%}
  {%- set extra_html = caller() if caller -%}
  {%- do classes.append('control-custom') -%}

  {% call input_block(label_id, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
    <div class="input-prepend" {{ form.attributes(attrs) }}>

      <input id="{{name}}-hidden" type="hidden" name="{{ name }}" value="{{ values[0] + ',' + values[1] if values[0] and values[1] else ''}}" />

      <label for="{{ names[0] }}-label" class="add-on">{{ _(labels[0]) }}</label>
      <input id="{{ names[0] }}-value" 
             type="{{ type }}" 
             name="{{ names[0] }}" 
             value="{{ values[0] | empty_and_escape }}" 
             placeholder="{{ placeholders[0] }}" 
             onchange="if($('#{{ names[0] }}-value').val() || $('#{{ names[1] }}-value').val()){
                $('#{{name}}-hidden').val($('#{{ names[0] }}-value').val() + ',' + $('#{{ names[1] }}-value').val())
              } else {
                $('#{{name}}-hidden').val('')
              } " />

      <label for="{{ names[1] }}-label" class="add-on">{{ _(labels[1]) }}</label>
      <input id="{{ names[1] }}-value" 
             type="{{ type }}" 
             name="{{ names[1] }}" 
             value="{{ values[1] | empty_and_escape }}" 
             placeholder="{{ placeholders[1] }}" 
             onchange="if($('#{{ names[0] }}-value').val() || $('#{{ names[1] }}-value').val()){
                $('#{{name}}-hidden').val($('#{{ names[0] }}-value').val() + ',' + $('#{{ names[1] }}-value').val())
              } else {
                $('#{{name}}-hidden').val('')
              } " />
    </div>

    {{ help_block(help) }}
  {% endcall %}
{% endmacro %}
------------------------------------------------------------------------------- #}


{% macro couple(name, labels=(), names=(), id="", label="", values=(), placeholders=(), error="", types="", classes=[], attrs={}, is_required=false, key_values=(), help='', read_only=False) %}
  {%- set classes = (classes|list) -%}
  {%- set label_id = (id) ~ "-key" -%}
  {%- set extra_html = caller() if caller -%}
  {%- do classes.append('control-custom') -%}

  {% call input_block(label_id, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}

      {% if read_only %}

        <div style="font-size: 14px">
          <div>
            <span  class="bold">{{ _(labels[0]) }}</span>
            <span class="">{{ values[0]| empty_and_escape }}</span>
          </div>
          <div>
            <span class="bold">{{ _(labels[1]) }}</span>
            <span class="">{{ values[1]| empty_and_escape }}</span>
          </div>
        </div>
      {% else %}

    <div class="input-prepend" {{ form.attributes(attrs) }}>

      <label for="{{ names[0] }}-label" class="add-on">{{ _(labels[0]) }}</label>
      <input id="{{ names[0] }}-value" 
             type="{{ types[0] }}" 
             name="{{ names[0] }}" 
             value="{{ values[0] | empty_and_escape }}" 
             placeholder="{{ placeholders[0] }}" />

      <label for="{{ names[1] }}-label" class="add-on">{{ _(labels[1]) }}</label>
      <input id="{{ names[1] }}-value" 
             type="{{ types[1] }}" 
             name="{{ names[1] }}" 
             value="{{ values[1] | empty_and_escape }}" 
             placeholder="{{ placeholders[1] }}" />

    </div>
    {% endif %}
    {{ help_block(help) }}
  {% endcall %}
{% endmacro %}



{% macro vocabulary(name, id='', label='', value='', placeholder='', type='text', error="", options=(), classes=[], attrs={}, is_required=false, multiple=True, use_autocomplete=True) %}
  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}

      <select class="theme_select" placeholder="{{ placeholder }}" name="{{ name }}" {{ attributes(attrs) }} {% if multiple %}multiple{% endif %} {% if use_autocomplete %}data-module="autocomplete"{% endif %}>
        {% for option in options %}
          <option value="{{ option.value }}"{% if value and option.value in value %} selected {% endif %}>{{ option.text or option.value }}</option>
        {% endfor %}
      </select>
    {{ help_block(help) }}

  {% endcall %}
{% endmacro %}


{% macro subtheme(name, theme_class='', id='', label='', placeholder='', options='', classes=[]) %}
    {% set id = id or 'subtheme_'+id %}
    {%- set extra_html = caller() if caller -%}

    {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <select id="{{id}}" multiple class="subtheme_select" name="subthemes" placeholder="{{ placeholder }}" data-module="dcatapit-subtheme" data-module-theme=".theme .{{ theme_class }}">
    </select>
    {% endcall %}
{% endmacro %}


{% macro themes(name, id='', label='', value='', placeholder='', error='', options=(), classes=[], attrs={}, type='', sublabel='', is_required=False, help=None) %}
<div class="theme-wrap">
    <div class="template theme">
        
        {% call vocabulary(name, id=id, label=label, placeholder=placeholder, error=error, options=options, classes=classes, attrs=attrs, multiple=False, use_autocomplete=False) %}
        {% endcall %}

        {% call subtheme(name, label=sublabel, placeholder=subplaceholder, options=suboptions, classes=classes) %}
        {% endcall %}

    <span class="remove remove_theme" data-remove-parent=".theme"><i class="icon-minus" title="remove"></i> {% trans %}Remove theme{% endtrans %}</span>
    </div>

    <div class="theme_container add_new_container" data-add-with=".add_new_theme" data-add-template=".theme.template"></div>

    <span class="add_new_theme add_new"><i class="icon-plus"></i> {% trans %}Add new Theme{% endtrans %}</span>
    <input type="hidden" name="theme" value="{{ value or list()| safe}}" data-module="dcatapit-theme" data-module-template=".theme" data-module-container=".theme_container" data-module-lang="{{ lang }}" data-module-input_prefix="" data-module-data_name="theme" />

    {{ help_block(help) }}
</div>
{% endmacro %}

{% macro creator(name, id, label, value, error, couples, lang, help='') %}
    {% set labels = (couples[0].label, couples[1].label) %}
    {% set names = (couples[0].name, couples[1].name) %}
    {% set placeholders = (couples[0].placeholder, couples[1].placeholder) %}
    {% set types = ['text', 'text'] %}
    {% set values = ['', ''] %}

    <div class="creator-wrap">
    <div class="creator template control-custom">
    {% call  couple(name,
                labels=labels,
                names=names,
                id="",
                label=label,
                values=values,
                placeholders=placeholders,
                error=error,
                types=types) %}


                <span class="remove remove_reference_documentation" data-remove-parent=".creator"><i class="icon-minus" title="remove"></i>{% trans %}Remove creator{% endtrans %}</span>
    {% endcall %}
    </div>

    <div class="creator_container add_new_container" data-add-with=".add_new_creator" data-add-template=".creator.template"></div>

            <span class="add_new_creator add_new"><i class="icon-plus"></i> {% trans %}Add new Creator{% endtrans %}</span>

    <input type="hidden" name="creator" value="{{ value or dict()| safe}}" data-module="dcatapit-creator" data-module-template=".creator" data-module-container=".creator_container" data-module-lang="{{ lang }}" data-module-input_prefix="" data-module-data_name="creator" />

    {{ help_block(help) }}
    </div>
{% endmacro %}


{% macro temporal_coverage(name, id, label, value, error, couples, lang, help='') %}
    {% set labels = (couples[0].label, couples[1].label) %}
    {% set names = (couples[0].name, couples[1].name) %}
    {% set placeholders = (couples[0].placeholder, couples[1].placeholder) %}
    {% set types = ['date', 'date'] %}
    {% set values = ['', ''] %}

    <div class="temporal-coverage-wrap">
        <div class="temporal-coverage template control-custom">
        {% call  couple(name,
                    labels=labels,
                    names=names,
                    id="",
                    label=label,
                    values=values,
                    placeholders=placeholders,
                    types=types) %}

                    <span class="remove" data-remove-parent=".temporal-coverage">
                        <i class="icon-minus" title="remove"></i>
                        {% trans %}Remove temporal-coverage{% endtrans %} 
                    </span>
        {% endcall %}
    </div>
        <div class="temporal-coverage_container add_new_container" data-add-with=".add_new_temporal-coverage" data-add-template=".temporal-coverage.template"></div>

    <div class="temporal-coverage_container add_new_container" data-add-with=".add_new_temporal-coverage" data-add-template=".temporal-coverage.template"></div>

           <span class="add_new_temporal-coverage add_new {% if error and error is iterable %}error{% endif %}"><i class="icon-plus"></i> {% trans %}Add new Temporal Coverage{% endtrans %}</span>

            {{ help_block(help) }}

        <input type="hidden" name="temporal_coverage" value="{{ value or dict()| safe}}" data-module="dcatapit-temporal-coverage" data-module-template=".temporal-coverage" data-module-container=".temporal-coverage_container" data-module-lang="{{ lang }}" data-module-input_prefix="" data-module-data_name="temporal-coverage" data-module-error="{{ error|join(',') }}" />
    
        {% if error and error is iterable %}
        <div class="errors">
            {% for err in error %}
            <span class="error-item">{{ err }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>


{% endmacro %}


{% macro alternate_identifier(name, id='', label='', value='', error='', lang='', help='') %}

    {% call input_block(id, label, error, classes=[], extra_html='', is_required=False) %}
        <div class="alternate_identifier template">
            <div class="input-prepend">
                <label for="alt_identifier" class="add-on">{% trans %}OthId Identifier{% endtrans %}</label>
                <input name="alt_identifier" type="text" value="" placeholder="{% trans %}OthId dataset identifier{% endtrans %}"/>
            </div>

            <div class="input-prepend">
               <label for="alt_agent_name" class="add-on">{% trans %}OthId Organization{% endtrans %}</label>
               <input name="alt_agent_name" type="text" value="" placeholder="{% trans %}OthId organization name{% endtrans %}"/>
            </div>
       
            <div class="input-prepend">     
                <label for="alt_agent_identifier" class="add-on">{% trans %}OthId Organization ID{% endtrans %}</label>
                <input name="alt_agent_identifier" type="text" value="" placeholder="{% trans %}OthId organization identifier{% endtrans %}"/>
            </div>
            <br/>
            <span class="remove remove_alt_identifier"><i class="icon-minus"></i> {% trans %}Remove{% endtrans %}</span>

        </div>

        <div class="alternate_identifier_container add_new_container" data-add-with=".add_new_alternate_identifier" data-add-template=".alternate_identifier.template"></div>
        
        <span class="add_new_alternate_identifier add_new"><i class="icon-plus"></i> {% trans %}Add new identifier{% endtrans %}</span>

    {{ help_block(help) }}

        <input type="hidden" name="alternate_identifier" value="{{ value or dict()| safe}}" data-module="dcatapit-alternate-identifier" data-module-template=".alternate_identifier" data-module-container=".alternate_identifier_container" data-module-lang="{{ lang }}" data-module-input_prefix="alt_" data-module-data_name="alternate-identifier" />



    {% endcall %}

{% endmacro %}

{% macro conforms_to(name, id='', label='', value='', error='', classes=[], placeholder='', lang='', help='') %}
    {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}

    <div class="conforms_to template">
        
        <input type="hidden" name="conforms_to_uri" value=""/>
        
        <div class="input-prepend">
            <label for="conforms_to_identifier" class="add-on">{% trans %}Std Identifier{% endtrans %}
            </label>
                <input type="text" name="conforms_to_identifier" type="text" value="" placeholder="{% trans %}Std Identifier sample{% endtrans %}"/>
        </div>
        <div class="input-prepend">
            <label for="conforms_to_title" class="add-on">{% trans %}Std Title{% endtrans %}
            </label>
                <input type="text" name="conforms_to_title" value="" type="text" placeholder="{% trans %}Std Title sample{% endtrans %}"/>
        </div>
        
        <div class="input-prepend">
            <label for="conforms_to_description" class="add-on">{% trans %}Std Description{% endtrans %}
            </label>
                <input type="text" name="conforms_to_description" value="" type="text" placeholder="{% trans %}Std Description sample{% endtrans %}"/>
        </div>
        <div class="row-fluid">
                <span class="span2"></span>
                <span class="span10">
                <label class="add-on">{% trans %}Std Reference documentation{% endtrans %}</label>
                <div class="reference_documentation template">
                    
                    <input type="text" name="conforms_to_referenceDocumentation" type="text"  placeholder="{% trans %}Std Reference documentation sample{% endtrans %}"/>
                    <span class="remove remove_reference_documentation"><i class="icon-minus" title="remove"></i></span>
                </div>

                <div class="reference_container add_new_container" data-add-with=".add_new_reference" data-add-template=".reference_documentation.template">
                </div>
                <span class="add_new_reference add_new"><i class="icon-plus"></i> {% trans %}Add new reference{% endtrans %}</span>
                </span>
        </div>
        <span class="remove remove_conforms_to"><i class="icon-minus"></i> {% trans %}Remove{% endtrans %}</span>
    </div>

    <div class="conforms_to_container add_new_container" data-add-with=".add_new_conforms_to" data-add-template=".conforms_to.template"></div>

    <span class="add_new_conforms_to add_new"><i class="icon-plus"></i> {% trans %}Add new conforms to{% endtrans %}</span>

    {{ help_block(help) }}

    <input type="hidden" name="conforms_to" value="{{ value or dict()| safe}}" data-module="dcatapit-conforms-to" data-module-template=".conforms_to" data-module-container=".conforms_to_container" data-module-lang="{{ lang }}" data-module-input_prefix="conforms_to_" data-module-data_name="conforms-to" />

    {% endcall %}
{% endmacro %}

{% macro geonames(name, label, id, value, error, lang, username, limit_to, classes=[], attrs={}) %}

    {% call input_block(id or name, label or name, error, classes, is_required=False) %}
      {# actual value, not visible if js enabled #}
      <input type="text" id="{{ name }}-store" name="{{ name }}" value="{{ value }}"/>

      <input type="text" id="{{name}}-view" placeholder="{{ placeholder }}" name="{{ name }}-view" {{ attributes(attrs) }}
            readonly
            data-module="geonames"
            data-module-geonames-username="{{ username }}"
            data-module-geonames-limit-to="{{ limit_to }}"
            data-module-geonames-display="#{{ name }}-display"
            data-module-geonames-language="{{ lang }}"
            data-module-geonames-store="#{{ name }}-store"/>
    {% endcall %}

{% endmacro %}

{%- macro attributes(attrs={}) -%}
  {%- for key, value in attrs.items() -%}
  {{ " " }}{{ key }}{% if value != "" %}="{{ value }}"{% endif %}
  {%- endfor -%}
{%- endmacro -%}


{# this is sightly modified `ckan.templates.macros.form.select` version, which also makes indentations based on value from options

    options can have additional `depth` value, which will be used to indent `option.text`
#}
{% macro select(name, id='', label='', options='', selected='', error='', classes=[], attrs={}, is_required=false, help='') %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <select id="{{ id or name }}" name="{{ name }}" {{ attributes(attrs) }}>
      {% for option in options %}
        <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.depth_str|safe }}{{ option.text or option.value }}</option>
      {% endfor %}
    </select>
    
    {{ help_block(help) }}
  {% endcall %}
{% endmacro %}



{% macro textarea(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={}, is_required=false, rows=5, cols=20, help='') %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-full') %}

  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
    <textarea id="{{ id or name }}" name="{{ name }}" cols="{{ cols }}" rows="{{ rows }}" placeholder="{{ placeholder }}" {{ attributes(attrs) }}>{{ value | empty_and_escape }}</textarea>
    {{ help_block(help) }}
  {% endcall %}
{% endmacro %}


{# renders information block #}
{% macro help_block(content) %}
    {% if content %}
    <span class="inline-block" data-module="dcatapit-help">
      <i class="icon-info-sign size-12" title="{{ content }}"></i>
    </span>
    {% endif %}
{% endmacro %}
