{% ckan_extends %}

{% set schema_fields = h.get_dcatapit_package_schema() %}

{% block package_additional_info %}

  {#{ pkg_dict }#}

  {% for field in schema_fields %}

	  {% if pkg_dict[field.name] %}

	  	{% set field_localized = h.get_vocabulary_items(field.vocabulary_name, pkg_dict[field.name][1:-1].split(",") if ',' in pkg_dict[field.name] else [pkg_dict[field.name]]) if field.type == 'vocabulary' else pkg_dict[field.name] %}
	  	{% set value_field = field_localized or pkg_dict[field.name]%}

	  	{% if value_field is iterable and value_field is not string %}
		  	<tr>
		      <th scope="row" class="dataset-label">{{ _(field.label) }}</th>
		      <td class="dataset-details">{{ h.list_to_string(value_field, field.format) }}</td>
		    </tr>
	  	{% else %}
		    <tr>
		      <th scope="row" class="dataset-label">{{ _(field.label) }}</th>
		      <td class="dataset-details">{{ h.format(value_field, field.format) if field.element != 'couple' else h.couple_to_string(field.couples, value_field, field.format) }}</td>
		    </tr>
	  	{% endif %}

	  {% endif %}

  {% endfor %}

  {{ super() }}

{% endblock %}
