{% ckan_extends %}

{% set pkg_fields = h.get_dcatapit_package_schema() %}

{% block package_basic_fields_custom %}

    {% resource 'vendor/jquery.ui.core.js' %}
    {% resource 'vendor/jquery.ui.widget.js' %}

    {% resource 'ckanext-dcatapit/jquery.ui.position.js' %}
    {% resource 'ckanext-dcatapit/jquery.ui.menu.js' %}
    {% resource 'ckanext-dcatapit/jquery.ui.autocomplete.js' %}
    {% resource 'ckanext-dcatapit/jquery.ui.tooltip.js' %}                   
    {% resource 'ckanext-dcatapit/jeoquery.js' %}

    {% resource 'ckanext-dcatapit/dcatapit.js' %}
    {% resource 'ckanext-dcatapit/dcatapit.css' %}
	{% snippet 'snippets/dcatapit_form_fields.html', data=data, errors=errors, schema_fields=pkg_fields %}

{% endblock %}
