{% ckan_extends %}

{% set res = c.resource %}
{% set lic_type, lic_name, lic_duri, lic_version, lic_uri, lic_names = h.get_dcatapit_license(res.license_type) %}

        {% block resource_additional_information_inner %}
        <div class="module-content">

          <h2>{{ _('Resource Metadata') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ h.get_vocabulary_item('filetype', res.distribution_format) if res.distribution_format}}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('License') }}</th>
                <td>{{ lic_names[lang] or lic_name }}
                 {% if lic_duri %}
                 <a href="{{ h.url_for_static_or_external(lic_duri) }}">LINK</a>
                 {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          
          
          <h2>{{ _('Additional Information') }}</h2>
          <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Last updated') }}</th>
                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Created') }}</th>
                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
              </tr>
              {% for key, value in h.format_resource_items(res.items()) %}
                <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endblock %}


