
.template {
    display: none!important;
}

.w200 {
    max-width: 200px;
}
.add_new {
    cursor: pointer;
}
.temporal-coverage-wrap .add_new {
    margin-left: 130px;
}

.temporal-coverage-wrap .add_new.error {
    color: #c6898b;
}

.temporal-coverage-wrap {
    margin-bottom: 4px;
}
.std-key {
    font-weight: bold;
}

.std .row:even {
    background: #f2f2f2
}
.conforms_to {
}
.bold {
    font-weight: bold
}
.conforms_to .remove_conforms_to, .alternate_identifier .remove, .creator .remove, .temporal-coverage .remove, .theme .remove {
    float: right;
    padding-right: 20px;
    text-align: right;
    cursor: pointer;
    color: #e33;
}

.errors .error-item {
    display: block;
    background-color: #c6898b;
    color: #fff;
    padding: 4px;
    margin-left: 130px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}
