{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% set config_fields = h.get_dcatapit_configuration_schema() %}

{% block admin_form %}
  {{ super() }}

  {% for field in config_fields %}
      {{ form.input(
        field['name'],
        id='field-' + field['name'],
        label=field['label'],
        value=data[field['name']],
        error=errors[field['name']],
        is_required=field.is_required
      ) }}
  {% endfor %}
{% endblock %}


{% block admin_form_help %}
  {{ super() }}

  {% for field in config_fields %}
  	<p><strong>{{ field['label'] }}:</strong> {{ field['description'] }}</p>
  {% endfor %}

{% endblock %}